baseURL: 'https://blogs.nulltrace.in/'
title: NullTrace Blog
author: ["codacker"]
languageCode: en
DefaultContentLanguage: en
enableInlineShortcodes: true
theme: nulltrace
enableRobotsTXT: true
GoogleAnalytics: UA-195222940-2

taxonomies:
  category: categories
  tag: tags
  archive: archives

privacy:
  vimeo:
    disabled: false
    simple: true
  twitter:
    disabled: false
    enableDNT: true
    simple: true
  instagram:
    disabled: false
    simple: true
  youtube:
    disabled: false
    privacyEnhanced: true

services:
  instagram:
    disableInlineCSS: true
  twitter:
    disableInlineCSS: true

minify:
  disableCSS: false
  disableHTML: false
  disableJS: false
  disableJSON: false
  disableSVG: false
  disableXML: false
  minifyOutput: true
  tdewolff:
    css:
      keepCSS2: true
      precision: 0
    html:
      keepComments: false
      keepConditionalComments: true
      keepDefaultAttrVals: true
      keepDocumentTags: true
      keepEndTags: true
      keepQuotes: false
      keepWhitespace: false
    js:
      keepVarNames: false
      precision: 0
    json:
      keepNumbers: false
      precision: 0
    svg:
      precision: 0
    xml:
      keepWhitespace: false

build:
  writeStats: true